[{:itonami.blueprint/social-impact [:precision-agriculture :field-diagnostics :crop-health :soil-testing], :itonami.blueprint/domain :agriculture/technician, :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "3142", :itonami.blueprint/name "Agricultural Technicians", :itonami.blueprint/governor :agri-technician-governor, :itonami.blueprint/robotics false, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3142", :itonami.blueprint/license "AGPL-3.0-or-later"}]
